@page "/aboutme"
@inject IStringLocalizer<App> Localize

    <h2>@Localize["About Me"]</h2>
    <p>@Localize["My japanese zodiac sign is Python and birthstone is Ruby, then I am a C#er."]</p>

    <h2>@Localize["Technical Skills"]</h2>
    <dl>
        <dt>C#</dt>
        <dd>なにもわからない</dd>

        <dt>Blender</dt>
        <dd>完全に理解した</dd>

        <dt>Unity</dt>
        <dd>完全に理解した</dd>
    </dl>

@code {

}
