@page "/"
@implements IDisposable
@inject IJSRuntime JSRuntime

<div id="index-3d-viewer">

</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("appJsFunctions.loadScene");
        }
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("appJsFunctions.cleanup");
    }
}
