@page "/"
@inject IJSRuntime JSRuntime
@using SceneViewer

<div id="index-3d-viewer">

</div>

<WebSiteLink WebSiteName="@webSiteName" />


@code {

    IEnumerable<string> dummyList => new string[0];
    string webSiteName = string.Empty;

    void OnSceneViewObjectClicked(string objectName)
    {
        webSiteName = objectName;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("appJsFunctions.loadScene");
        }
    }

}
